/* PART TOP */
.mobile-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f4efed;
	height: 60px;
	padding: 0 20px;
	border-bottom: 1px solid #ccc;
	font-family: "Avenir Book", sans-serif;
	display: none;
}

.hamburger {
	font-size: 30px;
	color: #170c06;
	cursor: pointer;
	width: 70px;
	height: 50px;
	display: none;
}

.mobile-menu {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	background-color: white;
	width: 100%;
	border: 1px solid #ccc;
	z-index: 1000;
}

.mobile-menu a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: black;
	margin-left: 15px;
}

.mobile-menu a:hover {
	background-color: #f0f0f0;
}

/* PART MIDa */
.mobile-container-image {
	width: 100%;
	height: auto;
	display: none;
	margin: 0;
	padding: 0;
}
/* PART MIDb -- the invitation*/
@font-face {
	font-family: "ViaodaLibre";
	src: url("/Fonts/ViaodaLibre-Regular.ttf") format("truetype");
}
.mobile-container-invitation {
	display: none;
	margin: 0;
	padding: 0;
	font-family: "ViaodaLibre", sans-serif;
	font-size: 24px;
	font-weight: bolder;
	color: #613b16;
	background-color: #f4efed;
}

.invitation1,
.invitation2,
.invitation3,
.invitation4 {
	text-align: left;
	margin-left: 30px;
}
.invitation2 {
	margin-left: 70px;
}
.invitation3 {
	margin-left: 130px;
}
.invitation4 {
	margin-left: 190px;
}
/* PART MIDc -- the schedule of services*/
@font-face {
	font-family: "Slabo27px";
	src: url("/Fonts/Slabo27px-Regular.ttf") format("truetype");
}

.mobile-container-schedule {
	display: none;
	margin: 0;
	padding: 0;
	font-family: "Slabo27px", sans-serif;
	font-size: 25px;
	font-weight: bolder;
	background-color: #8fa435;
	/* background-color: #c3fcf1; */
	/* background-color: #190f02; */
	/* background-color: #42142d; */
	color: #f4efed;
	/* color: black; */
	line-height: 130%;
}
.schedule {
	text-align: center;
}
.schedule-main-title {
	text-align: center;
	font-size: 30px;
}
.schedule-title {
	text-align: center;
	color: #fff197;
}

.mobile-footer {
	display: none;
	margin: 0;
	background-color: #1a1003;
	padding: 30px;
	display: none;
	text-align: center;
	border-top: 25px #f4efed solid;
}
.footer-info {
	color: grey;
	font-size: 20px;
	font-family: "Slabo27px", sans-serif;
	line-height: 150%;
}

.copyright {
	color: gray;
	font-size: 10px;
	font-family: "Slabo27px", sans-serif;
	line-height: 150%;
}

.mobile-z2-church-name-box {
	position: absolute;
	width: 100%;
	top: 535px;
	text-align: center;
	display: none;
	z-index: 2;
}

.text-james-less {
	font-family: "Bebas Neue", sans-serif;
	font-size: 50px;
	color: #f4efed;
	line-height: 100%;
}

.text-roman {
	font-family: "Avenir Book", sans-serif;
	font-size: 24px;
	color: #f4efed;
	line-height: 110%;
}

@media (max-width: 480px) {
	.mobile-nav,
	.hamburger,
	.mobile-container-image,
	.mobile-container-invitation,
	.mobile-container-schedule,
	.mobile-footer,
	.mobile-z2-church-name-box {
		display: block;
	}
}
