/* .mobile-image {
	position: fixed;
	display: none;
}

.mobile-text {
	display: none;
	font-style: arial;
	font-size: 24px;
} */
.mobile-container {
	display: none; /* Hide by default */
}

@media (max-width: 480px) {
	.mobile-container {
		display: block; /* Show when screen width is 480px or less */
	}
}
/* .mobile-image {
		/* position: fixed; *
		margin-top: 490px;
		display: block;
	} */

/* .mobile-text {
		display: block;
	} */
